mongodb_db = ''
mongo_db_user = ''
mongo_db_pass = ''
mongodb_host = 'mongodb+srv://' + mongo_db_user + ':' + mongo_db_pass + '@perdido-5fohw.gcp.mongodb.net/' + mongodb_db + '?retryWrites=true&w=majority'
